{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "ReadFactBatchParameters",
      "Effect": "Allow",
      "Action": "ssm:GetParameter",
      "Resource": "arn:aws:ssm:__AWS_REGION__:__AWS_ACCOUNT_ID__:parameter/himate/prod/*"
    },
    {
      "Sid": "ReadFactBatchInputs",
      "Effect": "Allow",
      "Action": [
        "s3:GetBucketLocation",
        "s3:ListBucket"
      ],
      "Resource": "arn:aws:s3:::__FACT_BATCH_BUCKET_NAME__"
    },
    {
      "Sid": "ReadAndWriteFactBatchObjects",
      "Effect": "Allow",
      "Action": [
        "s3:GetObject",
        "s3:PutObject",
        "s3:AbortMultipartUpload"
      ],
      "Resource": "arn:aws:s3:::__FACT_BATCH_BUCKET_NAME__/*"
    },
    {
      "Sid": "PublishFactBatchSpecExhaustionAlert",
      "Effect": "Allow",
      "Action": "sns:Publish",
      "Resource": "__FACT_BATCH_ALERT_TOPIC_ARN__"
    },
    {
      "Sid": "AuthenticateToEcr",
      "Effect": "Allow",
      "Action": "ecr:GetAuthorizationToken",
      "Resource": "*"
    },
    {
      "Sid": "PullFactBatchImage",
      "Effect": "Allow",
      "Action": [
        "ecr:BatchCheckLayerAvailability",
        "ecr:BatchGetImage",
        "ecr:GetDownloadUrlForLayer"
      ],
      "Resource": "arn:aws:ecr:__AWS_REGION__:__AWS_ACCOUNT_ID__:repository/himate-ecr"
    }
  ]
}
